.lookup {
  position: absolute;
  margin: 15px 0 0 13px;
}

.container {
  display: flex;
  position: relative;
}

.container a {
  margin-top: 4.5px;
  margin-left: 15px;
}


.result-ul {
  position: absolute;

  left: 0;
  top: 48px;

  background-color: white;
  min-width: 200px;
  border: 1px solid #e4e4e4;
  border-radius: 4px;

  z-index: 2;

  max-height: 200px;
  overflow: auto;
}

.input {
  width: 100%;
}

.item {
  padding: 6px 10px;

  font-size: 16px;

  list-style: none;
}
.item:hover {
  background-color: #f5f5f5;
}
.item.active {
  background-color: #f5f5f5;
}
.result-ul:empty {
  display: none;
}
.dropdown {
  /* width: 100%; */
  border-radius: 5px;
  border: 1px solid #e4e4e4;
  padding: 11px;
  margin-bottom: 10px;
  background-color: white;
  overflow-x: hidden;
  flex-grow: 1;
  position: relative;
}

.dropdown img {
  position: absolute;
  left: 0;
  /* height: 100%; */
  background-color: white;
  top: 15.5px;
  margin: 0 10px;
}

.dropdown span {
  margin: 0 15px;
  white-space: nowrap;
}

.results{
  display: flex;
}