.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    margin-top: 20px;
}

.list {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

input {
    border: 1px solid #E4E4E4;
    border-radius: 4px;
    height: 40px;
    width: 1%;
    flex-grow: 0.95;
    padding-left: 36px;
    font-size: 1.2em;
}

.lookup {
    position: absolute;
    margin: 15px 0 0 13px;
}

input:focus::placeholder {
    color: transparent;
}

input:focus {
    background-image: none;
    outline-color: #ebe9e9;
    font-size: 1.2em;
}

.toolbar {
    width: 90vw;
    display: flex;
    align-self: flex-start;
    gap: 0.8rem;
}

@media screen and (max-width: 370px) {
    input {
        font-size: 1em;
    }

    input:focus {
        font-size: 1em;
    }
}

.list :global .gatsby-image-wrapper img {
    border-radius: 3px 0px 0px 3px;
    height: 76.5% !important;
    margin-top: 10.5px !important;
    width: 80px !important;
}

