.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;
    margin-top: 20px;
}

.list {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

input {
    border: 1px solid #E4E4E4;
    border-radius: 4px;
    height: 40px;
    width: 1%;
    flex-grow: 0.95;
    padding-left: 36px;
    font-size: 1.2em;
}

.lookup {
    position: absolute;
    margin: 15px 0 0 13px;
}

input:focus::placeholder {
    color: transparent;
}

input:focus {
    background-image: none;
    outline-color: #ebe9e9;
    font-size: 1.2em;
}

.toolbar {
    width: 90vw;
    display: flex;
    align-self: flex-start;
    gap: 0.8rem;
}

.grid :global .CardComponent-module--link-view--SmCuq {
    width: 160px;
    height: 160px;
}

@media screen and (max-width: 566px) {
    .grid :global .CardComponent-module--link-view--SmCuq {
        max-width: 240px;
        max-height: 240px;
    }   
    
    .grid {
        justify-content: space-around;    
    }
}

@media screen and (max-width: 372px) {
    input {
        font-size: 1em;
    }

    input:focus {
        font-size: 1em;
    }

    .grid :global .CardComponent-module--link-view--SmCuq {
        width: 135px;
        height: 135px;
    }
}

@media screen and (max-width: 317px) {
    .grid {
        justify-content: center;
    }

    :global .CardComponent-module--png-img--wV-EX {
        width: 240px;
        height: 240px;
    }

    .grid :global .CardComponent-module--link-view--SmCuq {
        width: 240px;
        height: 240px;
    }
}

.list :global .gatsby-image-wrapper img {
    border-radius: 3px 0px 0px 3px;
    height: 76.5% !important;
    margin-top: 10.5px !important;
    width: 80px !important;
}

