@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

body {
    font-family: 'Source Sans Pro', sans-serif;       
    margin: 0;
}

.header{
    background-color: #F5F5F5;
}
.header h1{    
    padding: 30px;
}

.header img{
    width: 100%;
    
}

.infoPage {
    margin: 12px 20px;
}

h1 {
    padding-bottom: 12px;
}

p {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    padding-bottom: 4px;
}

h2 {
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    padding-top: 16px;
}

td:first-of-type, th:first-of-type {
    font-weight: 600;
    width: 35%;
    padding-bottom: 3.5px;
}

table {
    text-align: left;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    margin-top: 0px;
}

iframe {
    padding-top: 12px;
    width: 100%;
    max-width: 335px;
    height: 185px;
}
