@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

h1 {
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    background-color: #F5F5F5;
    margin: 0 0px;
}

.infoPage {
    margin-top: 10px;
}

.infoPage img {
    width: 100%;
}

.infoPageBody {
    margin: 12px 19px 10px;
}

p {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
}

h2 {
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
}

