.privacyPolicy p {
    padding: 8px 0;
}
.privacyPolicy h2 {
    padding: 16px 0 4px;
    font-weight: 600;
    font-size: 20px;
    line-height: 18px;
}
.privacyPolicy h3 {
    margin: 14px 0 0;
    font-weight: 500;
}
.privacyPolicy ul {
    padding-left: 16px;
    padding-bottom: 8px;
}
.privacyPolicy strong {
    font-weight: bold;
}