button {
    background: none;
    border: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 15;
    transform: scale(0);
}

.popup.active {
    transform: scale(1);
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 900px;
    height: auto;
    background-color: #fff;
    margin: 0 15px;
    border-radius: 30px;
    box-shadow: 0 0 12px 5px rgba(0, 0, 0, 0.25);
}

.closeButton {
    align-self: flex-end;
    font-size: 18px;
    margin: 15px 15px 0 0;
    cursor: pointer;
}

.popupInfo {
    text-align: center;
    padding: 0 10px 15px;
}

.popupInfo h2 {
    padding: 5px 0 15px 0;
}

.popupInfo p {
    text-align: center;
    padding: 5px;
    margin-bottom: 20px;
}

.popupInfo span {
    font-weight: bold;
}

.popupInfo .addButton {
    border-radius: 50px;
    background-color: black;
    color: #fff;
    padding: 12px 44px;
}

@media screen and (min-width: 325px) {
    .popup {
        padding: 0 15px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (min-width: 600px) {
    .container {
        max-width: 450px;
        /* margin: 0 auto; */
    }
}
