button {
    background: none;
    border: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    -webkit-tap-highlight-color: rgba(196, 196, 196, 0.5);
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 0 20px;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 15;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
}

.popup.active {
    opacity: 1;
    pointer-events: all;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 900px;
    height: auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 12px 5px rgba(0, 0, 0, 0.25);
}

.popupInfo {
    padding: 0 24px 24px;
}

.popupInfo h2 {
    margin: 24px 0 8px 0 !important;
    font-weight: bold;
}

.popupInfo p {
    margin-bottom: 20px;
}

.popupInfo span {
    font-weight: bold;
}

.buttons {
    display: flex;
    justify-content: end;
}

.closeButton {
    border: 1px solid black;
    border-radius: 50px;
    padding: 12px 25px;
    margin-right: 12px;
}

.popupInfo .addButton {
    border-radius: 50px;
    background-color: black;
    color: #fff;
    padding: 12px 44px;
}

@media screen and (min-width: 325px) {
    .popup {
        padding: 0 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (min-width: 600px) {
    .container {
        max-width: 500px;
    }
}

@media screen and (max-width: 600px) {
    .popup {
        position: fixed;
        width: 100vw;
        height: 100vh;
        padding: 0;
        background-color: rgba(0, 0, 0, 0.4);
        display: flex;
        justify-content: end;
        align-items: flex-end;
        z-index: 15;
        opacity: 0;
        pointer-events: none;
        transition: 0.5s;
    }

    .container {
        border-radius: 8px 8px 0 0;
    }

    .popupInfo h2 {
        text-align: center;
    }

    .popupInfo p {
        text-align: center;
        margin-bottom: 24px;
    }

    .buttons {
        flex-direction: column;
    }

    .closeButton {
        margin-bottom: 8px;
    }

    .popupInfo {
        padding: 0 10px 60px;
    }
}
