.sliderContainer {
    position: relative;
}

.arrow {
    color: #fff;
    font-size: 2.5em;
    font-weight: bold;
    cursor: pointer;
}

.nextArrow {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.1);
    height: calc(100% - 3px);
}

.prevArrow {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.1);
    height: calc(100% - 3px);
}

.nextArrow:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.prevArrow:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.hidden {
    display: none;
}

.countImages {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 20px;
    bottom: 12px;
    padding: 5px;
    color: #fff;
    background-color: #000;
    border-radius: 4px;
    opacity: 50%;
}

.counter {
    display: none;
}

.img {
    margin-right: 5px;
}

:global .slick-dots li {
    margin: 0 !important;
    width: 12px !important;
}

:global .slick-track {
    height: 100% !important;
}

:global .vertical .slick-list {
    height: auto !important;
}

:global .slick-vertical .slick-slide {
    border: 0px !important;
}

@media screen and (max-width: 1024px) {
    .nextArrow {
        background-color: rgba(0, 0, 0, 0.3);
    }

    .prevArrow {
        background-color: rgba(0, 0, 0, 0.3);
    }
}
