.arrow {
  color: #fff;
  font-size: 2.5em;
  font-weight: bold;
  cursor: pointer;
}

.nextArrow {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, .3);
  height: calc(100% - 3px);
}

.hidden {
  display: none;
}

.prevArrow {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, .3);
  height: calc(100% - 3px);
}

:global .slick-track {
  height: 100%!important;
}

:global .vertical .slick-list {
  height: auto !important;
}

:global .slick-vertical .slick-slide {  
  border: 0px !important;  
}