.head {
    width: 90vw;
    display: flex;
    align-items: baseline;
    margin-bottom: 14px;
}

h1 {
    font-weight: 400;
    font-size: 1.5em;
    line-height: 30px;
    margin: 0; 
}

.logo {
    width: 42px;
    height: 17px;
    margin-right: 12px;
}
