.container {
    display: flex;
    justify-content: center;
    width: 100%;
    position: fixed !important;
    top: 0;
    left: 0;
    z-index: 10;
    padding: 10px 20px 5px;
    transition: padding-top 0.6s;
    transition: box-shadow 0.2s;
    background-color: #f5f5f5;
}

.scroll {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.6s;
}

.ios {
    margin-top: 40px;
}

.scroll .ios {
    margin-top: 40px;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 860px;
}

.head {
    display: flex;
    align-items: center;
    height: 45px;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(196, 196, 196, 0.5);
}

h1 {
    font-weight: 400;
    font-size: 24px;
    line-height: 1em;
    padding-right: 8px;
}

.arrow {
    margin-right: 10px;
    padding-bottom: 2px;
}

.logo {
    width: 35px;
    margin-right: 10px;
    padding-bottom: 2px;
}

.browser {
    margin-top: 0;
}

.scroll .browser {
    margin-top: 0;
}

@media screen and (max-width: 505px) {
    .container {
        padding: 10px 20px 5px;
    }

    h1 {
        font-size: 20px;
    }

    .head {
        height: 45px;
    }

    .logo {
        width: 35px;
        margin-right: 10px;
    }

    .arrow {
        margin-right: 10px;
    }
}
