.header {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 33px;
    justify-content: flex-start;
}

.head {
    display: flex;
    align-items: baseline;
}

input {
    border: 1px solid #E4E4E4;
    background-image: url("../../images/lookup.svg");
    background-repeat: no-repeat;
    background-position-x: 13px;
    background-position-y: 50%;
    border-radius: 4px;
    width: 260px;
    height: 40px;
}

input::placeholder {
    padding-left: 36px;
}

input:focus::placeholder {
    color: transparent;
}

input:focus {
    background-image: none;
    outline-color: #ebe9e9;
    font-size: 20px;
}

h1 {
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    margin: 0; 
}

.logo {
    width: 42px;
    height: 17px;
    margin-right: 12px;
}

.lookup {
    display: flex;
    align-self: flex-start;
    gap: 18px
}
