.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
}

.head {
    display: flex;
    align-items: center;
    margin-bottom: 14px;
}

.head img {
    margin-right: 20px;
}

h1 {
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    margin: 0;
}

.logo {
    width: 42px;
    height: 17px;
    margin-right: 12px;
}
