@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color:  #F5F5F5;
    font-family: 'Source Sans Pro', sans-serif !important;
}

a {
    color: inherit;
}

.add-margins {
    margin: 33px 5vw 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}