body {
    margin: 0;
}

.full-width-item {
    background-color: #f5f5f5;
    margin: 0 -20px;
}

.full-width-item h1 {
    padding: 30px;
}

.source {
    word-break: break-all;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0 10px 0;
}

.title a {
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    color: #f5f5f5;

    margin: 5px;
    padding: 8px 15px;
    background: rgb(56, 149, 255);
    border-radius: 45px;
}

a {
    text-decoration: none;
    color: black;
    -webkit-tap-highlight-color: rgba(196, 196, 196, 0.5);
}

.infoPage {
    margin: 12px 0px;
}

p {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 40px;
    text-align: justify;
}

em {
    font-weight: 600;
}

h2 {
    font-weight: 600;
    font-size: 20px;
    line-height: 18px;
    padding: 16px 0px;
}

table {
    text-align: left;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    margin-top: 0px;
    width: 100%;
}

th {
    font-weight: 600;
    width: 20%;
    vertical-align: middle;
}

td:not(:first-child),
th:not(:first-child){
    padding-right: 5px;
    text-align: end;
}

:global .remark-oembed-you-tube {
    width: 100%;
    padding-top: 56.25%;
    /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
    position: relative;
    margin-bottom: 1rem;
}

:global .remark-oembed-you-tube iframe {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.link {
    font-size: 18px;
    text-decoration: underline;
    display: flex;
}

h3 {
    font-size: 16px;
    font-weight: 600;
    margin: 20px 0 5px;
}

li {
    list-style: inside;
    font-size: 14px;
}

.wifi {
    display: none;
}

.offline :global .remark-oembed-inline.remark-oembed-you-tube {
    padding: 0;
    height: 150px;
    display: flex;
    align-items: center;
    align-content: center;
}

.offline :global .remark-oembed-inline.remark-oembed-you-tube iframe {
    display: none;
}

.offline :global .remark-oembed-inline.remark-oembed-you-tube::after {
    background-image: url(../images/connectionError.svg);
    background-position-y: center;
    background-repeat: no-repeat;
    content: 'Відео буде доступне після підключення пристрою до мережі';
    display: block;
    text-align: left;
    font-size: 16px;
    padding-left: 35px;
}

@media screen and (min-width: 940px) {
    .full-width-item {
        margin: 0;
    }
}

@media screen and (max-width: 325px) {
    .full-width-item {
        margin: 0 -10px;
    }
}
@media screen and (min-width: 500px) {
    .offline :global .remark-oembed-inline.remark-oembed-you-tube::after {
        padding-top: 10px;
        min-height: 25px;
    }
}
