a {
    color: inherit;
}

.version-info {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    padding: 20px 0 35px 0;
    color: #929292;

    position: absolute;
    bottom: 0;
    left: 0;
    width: 90%;
    clear: both;
}
