a {
    color: inherit;
}

.footerContainer {
    padding-bottom: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    clear: both;
}

.ios {
    padding-bottom: 35px;
}

.browser {
    padding-bottom: 20px;
}

.version-info {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #929292;
}
