.progressbar {
  position: fixed;
  bottom: 0;
  width: 100%;
}
.progressbar-content {
  background-color: #ffffffe5;
  height: 70px;
  padding: 10px 20px;
}

.progressbar-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.progressbar-header > p {
  font-size: 16px;
  line-height: 15px;
}

.hide-element {
  position: fixed;
  right: 0;
  height: 25px;
  width: 100px;
  background-color: #ffffffe5;

  display: flex;
  justify-content: space-around;
  align-items: center;

  border-radius: 5px 0 0 0;
}

.bar {
  border-radius: 5px;
  height: 10px;
  width: 100%;
  background-color: #cccccc;
}

.progress {
  border-radius: 5px;
  height: 10px;
  background-color: #000;
}

.done .hide-element {
  display: none;
}

.done .bar .progress {
  background-color: #11a945;
}
