.switcher {
    margin-top: 7.5px;
}

.icon {
    width: 1.5em;
    height: 1.5em;
    align-self: center;
    background-color: #F5F5F5;
    border: none;
    padding: 0;
}

.svgIcon {
    width: 120%;
    height: 120%;
    color: black;
}
