.switcher {
    margin: 7.5px 0.8rem 0 0.8rem;
}

.icon {
    width: 1.5em;
    height: 1.5em;
    align-self: center;
    background-color: #F5F5F5;
    border: none;
    padding: 0;
    cursor: pointer;
}

.svgIcon {
    width: 120%;
    height: 120%;
    color: black;
}
